.game-container {
  flex: 1;
  box-shadow: 0 0 19px 3px #2a2e2f;
  width: 70vw;
  height: max-content;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover .game-controller {
    bottom: 100px;
  }
}

.game-controller {
  position: fixed;
  border: 2px solid #a50d5a;
  width: fit-content;
  margin-top: 20px;
  border-radius: 20px;
  padding: 10px 15px 4px 15px;
  bottom: -200px;
  background: #fff;
  box-shadow: 0 0 10px 1px black;
  transition: bottom 0.5s ease-in-out;

  & > i {
    color: #a50d5a;
    font-size: 3rem;
    &:hover {
      cursor: pointer;
      color: lighten(#a50d5a, 10%);
    }
  }
}
