{
    "printWidth": 120,
    "semi": false,
    "singleQuote": true,
    "arrowParens": "always",
    "overrides": [
        {
            "files": ".prettierrc",
            "options": { "parser": "json" }
        },
        {
            "files": "*.mjml",
            "options": { "parser": "babylon" }
        }
    ]
}
