@import "common/styles/colors";

.menu-box {
  display: flex;
  flex-direction: column;
}

.menu-headline {
  font-size: 1.3rem;
  font-weight: 200;
  margin: 0;
  text-transform: uppercase;
  color: #1d3a54;
}

.menu-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.menu-start {
  margin-top: 40px;
  border-bottom: 2px solid #fff;
}

.menu-start:not([disabled]) {
  border-bottom: 2px solid $valid-green;
}
