@import "common/styles/buttons";

.x-button {
  @extend %button;

  padding: 10px 10px 10px 10px;

  &.primary {
    border-bottom: 2px solid $secondary;
  }

  &.valid {
    border-bottom: 2px solid $valid-green;
  }

  &.next {
    padding: 10px 10px 10px 25px;
  }
}

.x-button-next {
  margin-left: auto;
}
