* {
  outline: none;
}

body {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  margin: 0;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(315deg, hsla(198.11, 55.6%, 81.15%, 1) 0%, hsla(198.11, 55.6%, 81.15%, 0) 70%),
    -webkit-linear-gradient(65deg, hsla(345.28, 54.66%, 65.53%, 1) 10%, hsla(345.28, 54.66%, 65.53%, 0) 80%),
    -webkit-linear-gradient(135deg, hsla(96.23, 72.75%, 84.08%, 1) 15%, hsla(96.23, 72.75%, 84.08%, 0) 80%),
    -webkit-linear-gradient(205deg, hsla(200.38, 96.67%, 66.7%, 1) 100%, hsla(200.38, 96.67%, 66.7%, 0) 70%);
  background: linear-gradient(135deg, hsla(198.11, 55.6%, 81.15%, 1) 0%, hsla(198.11, 55.6%, 81.15%, 0) 70%),
    linear-gradient(25deg, hsla(345.28, 54.66%, 65.53%, 1) 10%, hsla(345.28, 54.66%, 65.53%, 0) 80%),
    linear-gradient(315deg, hsla(96.23, 72.75%, 84.08%, 1) 15%, hsla(96.23, 72.75%, 84.08%, 0) 80%),
    linear-gradient(245deg, hsla(200.38, 96.67%, 66.7%, 1) 100%, hsla(200.38, 96.67%, 66.7%, 0) 70%);
}
