.layout {
  padding-top: 100%;
  position: relative;
}

.board {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.case {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}
.case:hover {
  cursor: pointer;
}

.case.selected {
  box-shadow: 0px 0 19px 7px #ffc107c9;
}

.case.moovable {
  box-shadow: inset 0px 0 19px 7px #03a9f4;
}
